{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %} 
    This is for my header page
    

    <div class="container">
        <header> 
            <nav>
                <ul>
                    <li><a href="Webpage/Home.html">Home</a></li>
                    <li><a href="Webpage/Location.html">Location</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </nav>
            <h1>CANCENOGENESIS</h1> </header>
        <section> 
         <div>Genes</div>
         <div>Immune system</div>
         <div>Viral diseases</div>
         <div>Infections</div>
        </section>
        <section>Lower section here </section>
        <a href="http://www.facebook.com">Ayomitanfacebook</a>
        <footer>Footer section</footer>
        <br>
       <header>Cancer</header>
       <h2>Bioinformatic courses</h2>
       <P>  This is the coming together of biology as
         a body of knowlege, computer sciences and <br>statistics</P>
         <strong>Towards a better life</strong> 
         <br>
         <b>CANCENOGENS</b>

         <ol>
            <li>Omics</li>
            <li>Proteomics</li>
            <li>Genomics</li>
            <button><a href="Home.html">Click me</a></button>
         </ol>
    
         <br>

         <img src="cancenogen.png" alt="Cancer metabolism"/>
         <div"class=rounded-rectangle"></div>
    </div>
{% endblock %}